<div id="interestsDiv">
  <section id="articles">
    <article>
      <img src="https://www.padi.com/themes/custom/bootstrap_padi/public/images/logo_padi_dark.svg" alt="..." style="width: 200px; height : 200px;">
      <h3>
        <strong>Scuba diving</strong>
      </h3>
      <ul>
        <li>Level : PADI Advanced Open Water Diver</li>
        <li> Specializations : Deep diving, Wreck diving, Search and Rescue & Nitrox Qualification</li>
      </ul>

    </article>

    <article>
      <img src="https://www.indonesie-en-liberte.com/files/2014/11/bali-indonesie-temple-e1504088149965-1024x1024.jpeg" alt="..." style="width: 200px; height : 200px;">
      <h3>
        Traveling
      </h3>
      <ul>
        <li> I enjoy traveling and discovering new cultures abroad</li>
        <li> I love exploring European countries as they are so close to where I live</li>
        <li> I have been several times in Asia and the Caribbeans on Scuba Diving trips</li>
      </ul>
    </article>

  </section>

  <section id="articles">
    <article>
      <img src="https://ak.picdn.net/shutterstock/videos/6268493/thumb/1.jpg" alt="..." style="width: 200px; height : 200px;">
      <h3>
        Programming
      </h3>
      <ul>
        <li>Really interested in Cyber-security, I regularly do training PenTests online for fun and to improve my knowledge on this topic</li>
        <li> I enjoy working on <a href="projects"><strong>personal projects</strong></a> on my free time in various languages (Python, C, C++, Java)</li>
      </ul>
    </article>

    <article>
      <img src="https://agenda.unige.ch/events/picture/27536/w:750/h:200" alt="..." style="width: 200px; height : 200px;">
      <h3>Movies & TV Shows</h3>
      <ul>
        <li>Big fan of Stanley Kubrick and Quentin Tarantino's work. </li>
        <li>Star Wars, Lord Of The Ring Amateur</li>
        <li>Rick & Morty enthusiast</li>
      </ul>
    </article>


  </section>
</div>