<div class="timeline">
    <div class="box right">
      <div class="contenu">
        <h3 style="margin-bottom: 10px; margin-top: 10px;">Master of Science Engineering in the field of IT specialized in Cyber-Security</h3>
        <h5 style="margin-bottom: 10px; margin-top: 10px;">ENSTA Paris, 2019-2023</h5>
        <ul>
          <li>4 month internship at the <strong>Centrale-Supelec INRIA OPIS</strong> laboratory on distributed architectures and parallel programming</li>

        </ul>
      </div>
    </div>

    <div class="box right">
      <div class="contenu">
        <h3 style="margin-bottom: 10px; margin-top: 10px;">Two-year intensive program preparing for the Top 3 most selective exams for entry to French Engineering Schools</h3>
        <h5 style="margin-bottom: 10px; margin-top: 10px;">Lycee Saint-Louis, 2017-2019</h5>
        <ul>
          <li>PCSI/PSI* (Mathematics, Physics, Chemistry, Engineering Science)</li>
        </ul>
      </div>
    </div>
    <div class="box right">
      <div class="contenu">
        <h3 style="margin-bottom: 10px; margin-top: 10px;">High school graduation, Scientific Section</h3>
        <h5 style="margin-bottom: 10px; margin-top: 10px;">Lycée Louis-le-Grand, one with the highest educational standards of France, 2014-2017</h5>
        <ul>
          <li>"Very good" distinction</li>
          <li>Mathematics specialization</li>
        </ul>
      </div>
    </div>
  </div>