
<aside>

  <div class="sidenav">

    <img src="../../assets/images/ME-min.jpeg" class="center" id="ME">

    <a href="#about"><strong>About me</strong></a>

    <hr class="myHrStyle">

    <p class="bodysidebar"> Currently in the last year of the student-engineer curriculum at ENSTA Paris, I am looking

      for small team jobs.</p>



    <a href="#services"><strong>Programming skills</strong></a>

    <hr class="myHrStyle">



    <p style="text-align:left;" class="bodysidebar programming">

      C++

      <span style="float:right;">

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle.svg" />

      </span>

    </p>

    <p style="text-align:left;" class="bodysidebar programming">

      Python

      <span style="float:right;">

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

      </span>

    </p>

    <p style="text-align:left;" class="bodysidebar programming">

      C

      <span style="float:right;">

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

      </span>

    </p>



    <p style="text-align:left;" class="bodysidebar programming">

      Java

      <span style="float:right;">

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

      </span>

    </p>

    <p style="text-align:left;" class="bodysidebar programming">

      OCaml, Prolog

      <span style="float:right;">

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

      </span>

    </p>

    <p style="text-align:left;" class="bodysidebar programming">

      Matlab

      <span style="float:right;">

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle-fill.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

        <img src="assets/images/circle.svg" />

      </span>

    </p>



    <div class="bodysidebar">

      <p class="emphasis">&bull; Developpement tools - IDE</p>

      <span class=" bodysidebar cadre tall"> Sublime Text</span> 

      <span class=" bodysidebar cadre">Pyzo</span> 

      <span class=" bodysidebar cadre">IntelliJ</span> <br>

      <span class=" bodysidebar cadre">Github</span>

      <span class=" bodysidebar cadre">CLion</span>

      <span class=" bodysidebar cadre">Pycharm</span>

    </div>





    <a href="#clients"><strong>Languages </strong></a>

    <hr class="myHrStyle">

    <p style="text-align:left;" class="bodysidebar programming">

      French

      <span style="float:right;">

        Native

      </span>

      ​

    </p>

    <p class="bodysidebar programming" style="text-align:left;">

      English

      <span style="float:right;">

        Fluent, C1-C2

      </span>

      ​

    </p>

    <p style="text-align: right;" class="bodysidebar programming">

      (985/990 TOEIC score)</p>





    <p style="text-align:left;" class="bodysidebar programming">

      German

      <span style="float:right;">

        Occasional , B1

      </span>

      ​

    </p>



    <p style="text-align:left;" class="bodysidebar programming">

      Italian

      <span style="float:right;">

        Academic, A2

      </span>



    </p>

  </div>

</aside>

